<div class="d-flex flex-column vh-100">
    <%- include('../partials/header')%>
    <%- include('../partials/navbar')%>
    <main class="container">
        <%- include('../partials/flash')%>
        <%- body %>
    </main>
    <%- include('../partials/footer')%>
</div>


